body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --ff-primary: 'Roboto', sans-serif;

  --clr-primary: #6D0070;
  --clr-bg: #F8EDF9;
  --clr-bg-modal: #D9D9D9;
  --clr-text: #ffffff;

  --fs-100: 0.85rem;
  --fs-200: 1rem;
  --fs-300: 1.25rem;
  --fs-400: 1.5rem;
  --fs-500: 1.75rem;
  --fs-600: 2rem;

  --fw-semi-bold: 500;
  --fw-bold: 700;

  --space-inline-m: 1.25em;
  --space-inline-d: 3.125em;

  --space-block-m: 2em;
}

/* Typography */

body {
  font-family: var(--ff-primary);
}

.welcome__title {
  font-size: var(--fs-500);
  text-align: center;
}

.welcome__title strong {
  color: var(--clr-primary);
}

.welcome__btn {
  color: var(--clr-text);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-300);
}

.header {
  color: var(--clr-text);
  font-size: var(--fs-400);
  font-weight: var(--fw-semi-bold);
}

.header__logo {
  font-weight: var(--fw-bold);
}

.header a, 
.fundamentals a {
  color: inherit;
  text-decoration: none;
}

.calculator__check-btn {
  color: var(--clr-text);
  font-weight: var(--fw-bold);
}

.modal__content {
  font-size: var(--fs-100);
}

.modal__title {
  font-weight: var(--fw-bold);
}

.modal__description {
  line-height: 22px;
}

.modal__btn {
  color: var(--clr-text);
  font-family: inherit;
}

.adder__name-label,
.adder__amount-label,
.adder__category-label {
  font-weight: var(--fw-semi-bold);
}

.adder__title-name,
.category__title-name {
  color: var(--clr-primary);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
}

.adder__title i,
.category__title i {
  color: var(--clr-primary);
}

.adder__name-error,
.adder__amount-error {
  font-size: 0.7rem;
  margin: 0;
  margin-top: 0.3em;
  font-weight: var(--fw-semi-bold);
}

.category__title-name {
  text-align: center;
}

.line-item__amount,
.category__total-title,
.category__total-amount {
  font-weight: var(--fw-semi-bold);
}

.analysis {
  font-weight: var(--fw-semi-bold);
}

.line-item__container i {
  color: var(--clr-primary);
}

.message {
  color: var(--clr-primary);
  font-weight: var(--fw-bold);
  text-align: center;
}

/* Layout */

.welcome {
  background-color: var(--clr-bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome__btn {
  background-color: var(--clr-primary);
  border: none;
  border-radius: 10px;
  padding: 0.3em 1.5em;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-primary);
}

.header__logo {
  margin-left: var(--space-inline-m);
}

.header__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: var(--space-inline-m);
}

.header a:nth-of-type(2) {
  margin-left: 1em;
}

.header__item {
  display: none;
}

@media (min-width: 32em) {
  .header__list i {
    display: none;
  }
  .header__item {
    display: block;
  }
}

.fundamentals {
  margin: 3em var(--space-inline-m);
}

.fundamentals__item::marker {
  color: var(--clr-primary);
}

.fundamentals__container {
  display: flex;
  align-items: center;
}

.fundamentals__subtitle {
  order: 1;
}

.fundamentals__container i {
  color: var(--clr-primary);
  font-size: 2.5em;
  margin-right: 0.5em;
}

@media (min-width: 50em) {
  .fundamentals {
    margin: 3em var(--space-inline-d);
  }
  .fundamentals__description {
    width: 60%;
  }
}

.calculator {
  display: grid;
  grid-template-areas: 
    'left top right'
    'left adder right'
    'left incomes right'
    'left needs right'
    'left wants right'
    'left savings right'
    'left message right'
    'left check-btn right'
    'left bottom right';
  gap: var(--space-block-m);
}

.calculator__check-btn {
  background-color: var(--clr-primary);
  border: none;
  border-radius: 20px;
  padding: 1em 3em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  grid-area: check-btn;
}

.adder {
  grid-area: adder;
}

.incomes {
  grid-area: incomes;
}

.needs {
  grid-area: needs;
}

.wants {
  grid-area: wants;
}

.savings {
  grid-area: savings;
}

.message {
  grid-area: message;
  justify-self: center;
}

@media (min-width: 50em)  {
  .calculator {
    grid-template-areas:
      'left top top right'
      'left buttons buttons right'
      'left adder adder right'
      'left incomes needs right'
      'left wants savings right'
      'left message message right'
      'left check-btn check-btn right'
      'left bottom bottom right';
  }
}

@media (min-width: 75em) {
  .calculator {
    grid-template-areas:
      'top top top'
      'adder adder incomes'
      'needs wants savings'
      'message message message'
      'check-btn check-btn check-btn'
      'bottom bottom bottom';
  }
}

.modal {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: 999;
  background-color: rgba(217, 217, 217, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  background-color: #F8EDF9;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  padding: 2em;
  max-width: 450px;
}

.modal__content * {
  margin: 0;
}

.modal__title {
  margin-bottom: 1em;
}

.modal__btn {
  background-color: var(--clr-primary);
  border-radius: 10px;
  border: none;
  padding: 0.7em 1.3em;
  cursor: pointer;
  align-self: center;
  margin-top: 1em;
}

@media (min-width: 50em) {
  .modal__content {
    max-width: 600px;
  }
}

.adder {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-bg);
  padding: 2em 0.5em;
  border-radius: 25px;
  margin-inline: auto;
  width: 300px;
}

.adder__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 1em 0;
}

.adder__title-name {
  margin: 0;
}

.adder__title i,
.category__title i {
  margin-left: 1em;
  cursor: pointer;
}

.adder__form {
  display: grid;
  grid-template-areas:
      'name amount'
      'input-name input-amount'
      'name-error amount-error'
      'category blank'
      'input-category button';
  gap: 0.5em;
}

.adder__name-input,
.adder__amount-input,
.adder__category-input {
  border-radius: 8px;
  border: none;
  height: 34px;
}

.adder__name-label {
  grid-area: name;
}

.adder__name-input {
  grid-area: input-name;
  width: 150px;
}

.adder__name-error {
  grid-area: name-error;
}

.adder__amount-label {
  grid-area: amount;
}

.adder__amount-input {
  grid-area: input-amount;
  width: 80px;
}

.adder__amount-error {
  grid-area: amount-error;
}

.adder__category-label {
  grid-area: category;
}

.adder__category-input {
  grid-area: input-category;
  width: 150px;
}

.adder__btn {
  grid-area: button;
  border: none;
  padding: 0;
  background-color: none;
  cursor: pointer;
  justify-self: flex-start;
}

.adder__btn i {
  color: var(--clr-primary);
  font-size: 2.5em;
}

@media (min-width: 32em) {
  .adder {
    width: 450px;
  }
  .adder__form {
    grid-template-areas: 
        'name amount category blank'
        'input-name input-amount input-category button'
        'name-error amount-error space space'; 
  }
  .adder__name-input {
    width: 150px;
  }
  .adder__name-category {
    width: 75px;
  }
  .adder__btn {
    justify-self: center;
  }
}

.category {
  background-color: var(--clr-bg);
  border-radius: 25px;
  margin-inline: auto;
  width: 300px;
  padding: 1em;
  text-align: center;
}

.category__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category__title-name {
  margin: 0;
}

.line-item,
.category__total,
.analysis__container {
  display: flex;
  justify-content: space-between;
}

.line-item__name,
.line-item__amount {
  margin: 0;
}

.line-item {
  margin: 0.5em 0;
}

.line-item__container {
  display: flex;
  align-items: center;
}

.line-item__container i {
  margin-left: 0.5em;
  cursor: pointer;
}

.category__line {
  height: 1px;
  background-color: var(--clr-primary);
  opacity: 0.3;
}

.analysis {
  background-color: var(--clr-text);
  border-radius: 25px;
  padding: 1em;
}

.analysis__max-amount-title,
.analysis__description {
  font-style: italic;
}