body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --ff-primary: 'Roboto', sans-serif;

  --clr-primary: #6D0070;
  --clr-bg: #F8EDF9;
  --clr-bg-modal: #D9D9D9;
  --clr-text: #ffffff;

  --fs-100: 0.85rem;
  --fs-200: 1rem;
  --fs-300: 1.25rem;
  --fs-400: 1.5rem;
  --fs-500: 1.75rem;
  --fs-600: 2rem;

  --fw-semi-bold: 500;
  --fw-bold: 700;

  --space-inline-m: 1.25em;
  --space-inline-d: 3.125em;

  --space-block-m: 2em;
  --space-block-d: 4em;
}

/* Typography */

body {
  font-family: var(--ff-primary);
}

.welcome p {
  font-size: var(--fs-500);
  text-align: center;
}

.welcome p strong {
  color: var(--clr-primary);
}

.welcome button {
  color: var(--clr-text);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-300);
}

.header {
  color: var(--clr-text);
  font-size: var(--fs-400);
  font-weight: var(--fw-semi-bold);
}

.header > p {
  font-weight: var(--fw-bold);
}

.header a, 
.fundamentals a{
  color: inherit;
  text-decoration: none;
}

.calculator__right-menu {
  font-weight: var(--fw-bold);
  text-align: center;
}

.calculator__buttons button {
  color: var(--clr-text);
  font-weight: var(--fw-bold);
}

.calculator > button {
  color: var(--clr-text);
  font-weight: var(--fw-bold);
}

.modal-content {
  font-size: var(--fs-100);
}

.modal-title {
  font-weight: var(--fw-bold);
}

.modal-description {
  line-height: 22px;
}

.modal-content button {
  color: var(--clr-text);
  font-family: inherit;
}

.adder label {
  font-weight: var(--fw-semi-bold);
}

.adder .title {
  color: var(--clr-primary);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
}

.category .title {
  text-align: center;
  color: var(--clr-primary);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
}

.category .line-item > p,
.category .total p {
  font-weight: var(--fw-semi-bold);
}

.category .analysis {
  font-weight: var(--fw-semi-bold);
}

.category .line-item div i {
  color: var(--clr-primary);
}

/* Welcome Layout */

.welcome {
  background-color: var(--clr-bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome button {
  background-color: var(--clr-primary);
  border: none;
  border-radius: 10px;
  padding: 0.3em 1.5em;
  cursor: pointer;
}

/* Header Layout */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-primary);
}

.header > p {
  margin-left: var(--space-inline-m);
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: var(--space-inline-m);
}

.header a:nth-of-type(2) {
  margin-left: 1em;
}

.header .fa-solid {
  display: none;
}

@media (max-width: 32em) {
  .header .fa-solid {
    display: block;
  }
  .header nav li {
    display: none;
  }
}

/* Fundamentals Layout */

.fundamentals {
  margin: 3em var(--space-inline-m);
}

.fundamentals li::marker {
  color: var(--clr-primary);
}

.fundamentals div {
  display: flex;
  align-items: center;
}

.fundamentals div h2 {
  order: 1;
}

.fundamentals div i {
  color: var(--clr-primary);
  font-size: 2.5em;
  margin-right: 0.5em;
}

@media (min-width: 50em) {
  .fundamentals {
    margin: 3em var(--space-inline-d);
  }
  .fundamentals p {
    width: 60%;
  }
}

/* Calculator Layout */

.calculator {
  display: grid;
  grid-template-areas: 
    'left top right'
    'left buttons right'
    'left adder right'
    'left incomes right'
    'left needs right'
    'left wants right'
    'left savings right'
    'left check-btn right'
    'left bottom right';
  gap: var(--space-block-m);
}

.calculator>button {
  background-color: var(--clr-primary);
  border: none;
  border-radius: 20px;
  padding: 1em 3em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  grid-area: check-btn;
}

.calculator__right-menu {
  display: none;
  background-color: rgba(109, 0, 112, 0.5);
  padding-top: var(--space-block-m);
}

.calculator__right-menu * {
  cursor: pointer;
}

.calculator__buttons {
  display: grid;
  grid-template-areas: 
    'instructions needs'
    'wants savings';
  gap: 1em;
  justify-items: center;
  grid-area: buttons;
}

.calculator__buttons button {
  border: none;
  background-color: var(--clr-primary);
  padding: 1em 2.3em;
  border-radius: 100px;
  cursor: pointer;
}

.calculator__buttons button:nth-child(1) {
  grid-area: instructions;
}
.calculator__buttons button:nth-child(2) {
  grid-area: needs;
}
.calculator__buttons button:nth-child(3) {
  grid-area: wants;
}
.calculator__buttons button:nth-child(4) {
  grid-area: savings;
}

.adder {
  grid-area: adder;
}

.calculator .Incomes {
  grid-area: incomes;
}

.calculator .Needs {
  grid-area: needs;
}

.calculator .Wants {
  grid-area: wants;
}

.calculator .Savings {
  grid-area: savings;
}

@media (min-width: 50em)  {
  .calculator__buttons {
    grid-template-areas:
      'instructions needs wants savings';
  }
  .calculator__buttons button:nth-child(1) {
    grid-area: instructions;
  }
  .calculator__buttons button:nth-child(2) {
    grid-area: needs;
  }
  .calculator__buttons button:nth-child(3) {
    grid-area: wants;
  }
  .calculator__buttons button:nth-child(4) {
    grid-area: savings;
  }
  .calculator {
    grid-template-areas:
      'left top top right'
      'left buttons buttons right'
      'left adder adder right'
      'left incomes needs right'
      'left wants savings right'
      'left check-btn check-btn right'
      'left bottom bottom right';
    gap: var(--space-block-d);
  }
  .calculator__buttons {
    grid-area: buttons;
  }
  .adder {
    grid-area: adder;
  }
  .calculator .Incomes {
    grid-area: incomes;
  }
  .calculator .Needs {
    grid-area: needs;
  }
  .calculator .Wants {
    grid-area: wants;
  }
  .calculator .Savings {
    grid-area: savings;
  }
  .calculator>button {
    grid-area: check-btn;
  }
}

@media (min-width: 75em) {
  .calculator {
    grid-template-areas:
      'top top top aside'
      'adder adder incomes aside'
      'needs wants savings aside'
      'check-btn check-btn check-btn aside'
      'bottom bottom bottom aside';
    gap: var(--space-block-d);
  }
  .calculator__right-menu {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .calculator__buttons {
    display: none;
  }
  .adder {
    grid-area: adder;
  }
  .calculator .Incomes {
    grid-area: incomes;
  }
  .calculator .Needs {
    grid-area: needs;
  }
  .calculator .Wants {
    grid-area: wants;
  }
  .calculator .Savings {
    grid-area: savings;
  }
  .calculator>button {
    grid-area: check-btn;
  }
}

/* Modals */

.modal {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: 999;
  background-color: rgba(217, 217, 217, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #F8EDF9;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  padding: 2em;
  max-width: 450px;
}

.modal-content * {
  margin: 0;
}

.modal-title {
  margin-bottom: 1em;
}

.modal-content button {
  background-color: var(--clr-primary);
  border-radius: 10px;
  border: none;
  padding: 0.7em 1.3em;
  cursor: pointer;
  align-self: center;
  margin-top: 1em;
}

@media (min-width: 50em) {
  .modal-content {
    max-width: 600px;
  }
}

/* Adder Layout */

.adder {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-bg);
  padding: 2em 0.5em;
  border-radius: 25px;
  margin-inline: auto;
  width: 450px;
}

.adder .title {
  margin: 0 0 1em 0;
}

.adder form {
  display: grid;
  grid-template-areas: 
    'name amount category blank'
    'input-name input-amount input-category button';
}

#name,
#amount,
#category {
  border-radius: 8px;
  border: none;
  height: 34px;
}

label[for="name"] {
  grid-area: name;
}

#name {
  grid-area: input-name;
  width: 150px;
}

label[for="amount"] {
  grid-area: amount;
}

#amount {
  grid-area: input-amount;
  width: 80px;
}

label[for="category"] {
  grid-area: category;
}

#category {
  grid-area: input-category;
}

form button {
  grid-area: button;
  border: none;
  padding: 0;
  background-color: none;
  cursor: pointer;
  justify-self: center;
}

form button i {
  color: var(--clr-primary);
  font-size: 2.5em;
}

@media (max-width: 32em) {
  .adder {
    width: 300px;
  }
  .adder form {
    grid-template-areas:
      'name amount'
      'input-name input-amount'
      'category blank'
      'input-category button';
    gap: 0.5em;
  }
  #category {
    width: 150px;
  }
  form button {
    justify-self: flex-start;
  }
}

/* Category Layout */

.category {
  background-color: var(--clr-bg);
  border-radius: 25px;
  margin-inline: auto;
  width: 300px;
  padding: 1em;
  text-align: center;
}

.category .title {
  margin: 0;
}

.category .line-item,
.category .total,
.category .analysis div {
  display: flex;
  justify-content: space-between;
}

.category .line-item p {
  margin: 0;
}

.category .line-item {
  margin: 0.5em 0;
}

.category .line-item div {
  display: flex;
  align-items: center;
}

.category .line-item div i {
  margin-left: 0.5em;
  cursor: pointer;
}

.category .analysis {
  background-color: var(--clr-text);
  border-radius: 25px;
  padding: 1em;
  display: none;
}

.category .line {
  height: 1px;
  background-color: var(--clr-primary);
  opacity: 0.3;
}